* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
}

body {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  font-family: "Fredoka One", "Poppins", "sans-serif";
  font-weight: 400;
  color: #495057;
}
/* Navbar */
nav {
  display: flex;
  padding-top: 5rem;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-item {
  font-size: 1.6rem;
  font-family: "Poppins";
}
.active-item {
  color: #fe5e35;
}
nav img:first-child {
  width: 10rem;
}
nav img:last-child {
  width: 25%;
}

/* Intro section */
.intro-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.left-section {
  margin-top: 10rem;
}

.left-section h3 {
  position: relative;
  font-size: 2.8rem;
  font-family: "Poppins";
  font-weight: 400;
  color: #000;
}

.left-section h3 img {
  position: absolute;
  width: 4rem;
  right: 50rem;
}

.left-section h1 {
  font-size: 5rem;
  font-weight: 200;
  color: #000;
}
.sub-headlines {
  position: relative;
  margin-top: 1rem;
  margin-left: 10rem;
}
.sub-headlines h5 {
  font-size: 1.8rem;
  font-family: "Poppins";
  font-weight: 200;
  margin-top: 1.5rem;
  color: #000;
}

.sub-headlines h5:first-child::before {
  content: "";
  position: absolute;
  display: block;
  padding: 1.5rem;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #fe5e35;
  z-index: -1;
  left: -4rem;
}
.sub-headlines h5:nth-child(2):before {
  content: "";
  position: absolute;
  display: block;
  padding: 1.5rem;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #fe5e35;
  z-index: -1;
  left: -4rem;
}
.sub-headlines h5:nth-child(3):before {
  content: "";
  position: absolute;
  display: block;
  padding: 1.5rem;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #fe5e35;
  z-index: -1;
  left: -4rem;
}
.sub-headlines h5 img {
  width: 1.6rem;
}
.sub-headlines h5 img {
  position: absolute;
  margin-top: 0.6rem;
  left: -3.3rem;
}

.text {
  margin-top: 5rem;
  margin-right: 20rem;
  font-size: 1rem;
  font-family: "Poppins";
}
.action-btns {
  margin-top: 5rem;
}

.action-btn {
  display: inline-block;
  color: #fff;
  background-color: #fe5e35;
  padding: 1.6rem 3.2rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 3rem;
  margin-right: 2.9rem;
}
.right-section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.headphone-div img:first-child {
  position: absolute;
  width: 10rem;
  top: 25rem;
  left: -2rem;
}

.headphone-div::before {
  background-image: url("../images/discount.svg");
  content: "";
  position: absolute;
  filter: brightness(20%) grayscale(100%);
  opacity: 0.4;
  display: inline-block;
  background-size: 100% 100%;
  width: 10rem;
  height: 10rem;
  top: 25.5rem;
  left: -2rem;
}
.discount-content {
  position: absolute;
  top: 28rem;
  left: 0.2rem;
  line-height: 1;
  text-align: center;
  color: #fff;
}
.discount-content h1 {
  font-size: 3.2rem;
}
.headphone-div img:last-child {
  width: 40rem;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.yellow-dot {
  background-color: rgb(255, 255, 2);
}
.tomato-dot {
  background-color: #fe5e35;
}
.black-dot {
  background-color: #000;
}
.right-section .action-btn {
  margin-top: 5rem;
  margin-right: 0rem;
  width: 15rem;
}
@media screen and (max-width: 992px) {
  .container {
    padding: 1rem;
  }
  .navbar-container {
    padding: 1rem;
  }
}

@media screen and (max-width: 765px) {
  .navbar-container {
    display: block;
    text-align: center;
  }
  .logo {
    float: left;
    display: inline-block;
  }
  .nav-items {
    gap: 2rem;
    padding-top: 3rem !important;
    padding: 0;
  }
  .nav-item.active-item {
    gap: 2rem;
  }
  .nav-items,
  .navEnd {
    gap: 2rem;
    position: relative;

    /* display: none; */
  }
  .navEnd {
    position: relative;
    float: none;
    margin: 0 auto;
  }
  .right-section,
  .left-section {
    width: 50%;
    height: 50%;
    justify-content: center;
    position: relative;
  }
  .text {
    width: 100%;
  }
  .sub-headlines {
    width: 100%;
  }
  .head {
    font-style: italic;
    position: relative;
  }
  html {
    font-size: 30.25%;
  }
  .headphone-div {
    margin-top: 40rem;
    position: relative;
  }
  .action-btns {
    padding: 0.6rem 1.2rem;
    font-size: 0.5rem;
  }
}
